{% extends '_layouts/content-simple.nunjucks' %}

{% set title = 'Symptoms' %}

{% block main_content %}
<div class="page-section">
  <div class="reading-width">
    {% markdown %}
    ### Pop up research - 15th March 2017
    * [Dizziness](https://nhsbeta-v3.herokuapp.com/preview/NuffoChb1LcNMmgQSzUHoxmUYp4=/91/1042)
    * [Earache](https://beta.nhs.uk/conditions/earache)
    * [Eyelid problems](https://nhsbeta.herokuapp.com/preview/4zyrnfl5Q3Xeu04MFwqz5kSMhTQ=/43/974)
    * [Fever in children](https://nhsbeta.herokuapp.com/preview/d2S42q6Im8SyWIxBM_QxeryyGp8=/44/979)
    * [Foot pain](https://nhsbeta-v3.herokuapp.com/preview/MEVwYES1yx15i-QgVJ9kx8dzACE=/89/1045)
    * [Headache](https://beta.nhs.uk/symptoms/headache)
    * [Lumps](https://nhsbeta-v3.herokuapp.com/preview/-AAnCxU6EZEmJ9RGsWqt85eJ4w8=/90/1020)
    * [Pins and needles](https://nhsbeta.herokuapp.com/preview/X9FM7GkJScCXizsF6WX6xALKHXY=/41/983)
    * [Rashes in babies and children](https://beta.nhs.uk/symptoms/rashes-in-babies-and-children)
    * [Sore throat](https://beta.nhs.uk/conditions/sore-throat)
    * [Stomach ache](https://nhsbeta.herokuapp.com/preview/Wbn7x77WoOyha8kD3EzK2rYoEP4=/25/434)
    * [Swollen glands](https://nhsbeta.herokuapp.com/preview/D_OANXIRlY99wsCM6KXp_eBUX4k=/46/982)
    {% endmarkdown %}
  </div>
{% endblock %}