// scss-lint:disable NestingDepth

$_chevron-padding: $default-spacing-unit * 2;

ul {
  @include core-font(20);
  list-style: disc outside;
  padding-left: 1em;
}

ol {
  @include core-font(20);
  list-style: decimal outside;
  padding-left: 1em;

  @include ie-lte(7) {
    padding-left: 1.5em;
  }

  li {
    padding-left: .2em;
  }
}

dl {
  @include core-font(20);
  
  dt {
    @include bold-font(20);
  }
}

.dt-inline {
  float: left;

  &:after{
    content: " -\00a0";
    @include core-font(20);
  }
}

.local-header,
.page-section,
.global-footer {
  li, dd, dt, {
    + li, + dd {
      margin-top: ($baseline-grid-unit * 2);
    }

    > ul,
    > ol,
    > dl {
      margin-top: ($baseline-grid-unit * 2);
    }
    
  }
  
  .dt-inline + dd {
    @include element-spacing;
  }
}


.list--chevron,
.list--check,
.list--cross {
  list-style: none;
  padding-left: $_chevron-padding;

  @include ie-lte(7) {
    list-style: disc;
    padding-left: 1em;
  }
  
  li {
    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      display: block;
    }
  }
}

  
.list--chevron {
  
  li {

    &:before,
    &:after {
      border-style: solid;
      height: 0;
      top: 6px;
      width: 0;
    }

    &:before {
      border-color: transparent transparent transparent $nhs-grey-01;
      border-width: 10px 0 10px 10px;
      left: -$_chevron-padding;

      // variations for different coloured backgrounds
      .callout--warning & {
        border-left-color: $nhs-black;
      }

      .callout--severe & {
        border-left-color: $nhs-white;
      }
    }

    &:after {
      border-color: transparent transparent transparent $nhs-white;
      border-width: 10px 0 10px 10px;
      left: -($_chevron-padding + 6px);

      // variations for different coloured backgrounds
      .callout--info &,
      .panel & {
        border-left-color: $nhs-grey-04;
      }

      .callout--warning & {
        border-left-color: tint($nhs-yellow-warm, 20%);
      }

      .callout--alert & {
        border-left-color: $nhs-emergency-red-10;
      }

      .callout--severe & {
        border-left-color: $nhs-emergency-red;
      }
    }
  }
}

.list--check {

  li {
    
    &:before {
      background: url("../images/check@2x.png") no-repeat;
      background-size: contain;
      height: 18px;
      top: 8px;
      left: $_chevron-padding*-1-2;
      width: 24px;
    }
  }
}

.list--cross {

  li {

    &:before {
      background: url("../images/cross@2x.png") no-repeat;
      background-size: contain;
      height: 18px;
      top: 8px;
      left: $_chevron-padding*-1;
      width: 18px;
    }
  }
}

.list--related-condition {
    margin-top: $default-spacing-unit !important;
    list-style-type: none;
    padding-left:0;

    li{
      @include core-font(16);
      margin-top: $default-spacing-unit/2 !important;
    }
}